{% extends "base.html" %}
{% load static %}
{% block aboutactive %}active{% endblock aboutactive %}
{% block title %}About{% endblock title %}
{% block body %}
<!-- ======= About Section ======= -->
<section id="about" class="about">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>About ME</h2>
      <p>I'm a software developer who is passionate about developing technology solutions for people while learning
        about
        latest technologies. I'm attracted towards developing games & teaching programming. Some technologies I enjoy
        working with Programming, Python, Unity and Application & Game Development</p>
    </div>

    <div class="row">
      <div class="col-lg-4">
        <img src="{% static 'img/profile.jpg' %}" class="img-fluid" alt="">
      </div>
      <div class="col-lg-8 pt-4 pt-lg-0 content">
        <h3>Application &amp; Game Developer</h3>
        <p class="font-italic">
          I love developing games and programming in python and my intrest towards technology motivates me to keep
          developing something new and innovative.
        </p>
        <div class="row">
          <div class="col-lg-6">
            <ul>
              <li><i class="icofont-rounded-right"></i> <strong>Birthday:</strong> 9 Dec 2002</li>
              <li><i class="icofont-rounded-right"></i> <strong>Blog:</strong> www.developergautam07.ga</li>
              <li><i class="icofont-rounded-right"></i> <strong>Phone:</strong> +91 7000308757</li>
              <li><i class="icofont-rounded-right"></i> <strong>City:</strong> Indore-MP, INDIA</li>
            </ul>
          </div>
          <div class="col-lg-6">
            <ul>
              <li><i class="icofont-rounded-right"></i> <strong>Age:</strong> 17</li>
              <li><i class="icofont-rounded-right"></i> <strong>Degree:</strong> Bachelors</li>
              <li><i class="icofont-rounded-right"></i> <strong>Email:</strong> gautams1831@gmail.com</li>
              <li><i class="icofont-rounded-right"></i> <strong>Freelance:</strong> Available</li>
            </ul>
          </div>
        </div>
        <p>
          I'm committed to life long learning and increasing knowledge and my skills allow me to collaborate and
          work effectively in team. My problem solving and leadership skills helps me to get the best results before the
          deadline. I think my ability to see all sides of an issue will make me a great asset to the team.
        </p>
      </div>
    </div>

  </div>
</section><!-- End About Section -->
<main id="main">

  <!-- ======= Resume Section ======= -->
  <section id="resume" class="resume">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Resume</h2>
        <p>My Academic performance and Experiences</p>
      </div>

      <div class="row">
        <div class="col-lg-6">
          <h3 class="resume-title">Sumary</h3>
          <div class="resume-item pb-0">
            <h4>Gautam Sharma</h4>
            <p><em>Developer and learner who's enthusiasm motivate him to complete the projects with dedication and keep
                learning about new technologies and apply them in his projects. </em>
            </p>
            <ul>
              <li>Indore-MP, INDIA</li>
              <li>+91 7000308757</li>
              <li>gautams1831@gmail.com</li>
            </ul>
          </div>

          <h3 class="resume-title">Education</h3>
          <div class="resume-item">
            <h4>B.tech CSE with specialization Big Data Analytics</h4>
            <h5>2020 - 2024</h5>
            <p><em>SVVV - Shri Vaishnav Vidyapeeth Vishwavidyalaya, Indore</em></p>
            <p>Currently pursuing my 1st year.</p>
          </div>
          <div class="resume-item">
            <h4>High Shool</h4>
            <h5>2017 - 2020</h5>
            <p><em>Columbia Convent School, Indore</em></p>
            <p>Scored 7.38 CGPA in 10th standard, 7.55 CGPA in 12th standard. I had a keen interest in computer science
              and was attracted to Game Development & Python Programming, so I explored these fields and learned Unity,
              Pygame, Ren'py & Construct2.
            </p>
          </div>
        </div>
        <div class="col-lg-6">
          <h3 class="resume-title">Project Experience</h3>
          <div class="resume-item">
            <h4>Portal Hoppers</h4>
            <h5>May 2019 - Present</h5>
            <p><em>Game Development </em></p>
            <ul>
              <li>Working as Game Programmer & Developer</li>
              <li>Team of 3 including Designer & Artist</li>
              <li>Our team works hard to complete the project and give the best experience to the player.</li>
            </ul>
          </div>
          <div class="resume-item">
            <h4>Android Application</h4>
            <h5>May 2019 - July 2019</h5>
            <p><em>Application Development</em></p>
            <p>Developed a private android application for the employees of a glass manufacturing company in Indore.</p>
          </div>
          <div class="resume-item">
            <h4>Treely</h4>
            <h5>Aug 2019 - Oct 2019</h5>
            <p><em>Smart City Indore - Application Development</em></p>
            <ul>
              <li>Developed an E-Commerce Application to sell plants, who's motive is to grow awareness to the public to
                reduce pollution caused in the environment.</li>
              <li>Here I have worked with a team of 6 under the supervision of our CS faculty</li>
              <li>We have also won the award of <b>'Aims & Utility'</b> for this project</li>
              <a href="https://drive.google.com/file/d/1dgLyOSI7zccBT4Vyds05oz6AHn_mJZqG/view?usp=sharing">View Project</a>
            </ul>
          </div>
        </div>
      </div>

    </div>
  </section><!-- End Resume Section -->
  <br>
  <!-- ======= Portfolio Section ======= -->
  <section id="portfolio" class="portfolio section-bg">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Certificates</h2>
        <p>Have a look at all my certificates </p>
      </div>

      <div class="row">
        <div class="col-lg-12 d-flex justify-content-center aos-init aos-animate" data-aos="fade-up"
          data-aos-delay="100">
          <ul id="portfolio-flters">
            <li data-filter="*" class="filter-active">All</li>
            <li data-filter=".filter-app">Udemy</li>
            <li data-filter=".filter-card">Sololearn</li>
            <li data-filter=".filter-web">Events & Workshops</li>
          </ul>
        </div>
      </div>

      <div class="row portfolio-container aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">

        <div class="col-lg-4 col-md-6 portfolio-item filter-web">
          <div class="portfolio-wrap">
            <img src="{% static 'img/IIT.png' %}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Certificate From IIT-Delhi</h4>
              <p>AI &amp; ML</p>
              <div class="portfolio-links">
                <a href="{% static 'img/IIT.png' %}" data-gall="portfolioGallery" class="venobox" title="AI &amp; ML"><i
                    class="bx bx-show"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-web">
          <div class="portfolio-wrap">
            <img src="{% static 'img/DPS.png' %}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Techfeast at DPS-Indore </h4>
              <p>Technocon</p>
              <div class="portfolio-links">
                <a href="{% static 'img/DPS.png' %}" data-gall="portfolioGallery" class="venobox" title="Technocon"><i
                    class="bx bx-show"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-web">
          <div class="portfolio-wrap">
            <img src="{% static 'img/BV.png' %}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Balvigyan/Community Development Project</h4>
              <p>Aims &amp; Utility Reward</p>
              <div class="portfolio-links">
                <a href="{% static 'img/BV.png' %}" data-gall="portfolioGallery" class="venobox"
                  title="Aims &amp; Utility Reward"><i class="bx bx-show"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-web">
          <div class="portfolio-wrap">
            <img src="{% static 'img/ZA.png' %}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Zenva Academy</h4>
              <p>Unity 101 - Game Development &amp; C# Foundations</p>
              <div class="portfolio-links">
                <a href="{% static 'img/ZA.png' %}" data-gall="portfolioGallery" class="venobox"
                  title="Unity &amp; C#"><i class="bx bx-show"></i></a>
                <a href="https://academy.zenva.com/certificate/ee80a73d"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
          <div class="portfolio-wrap">
            <img src="{% static 'img/ITU.png' %}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Unity Game Development</h4>
              <p>Introduction To Unity</p>
              <div class="portfolio-links">
                <a href="{% static 'img/ITU.png' %}" data-gall="portfolioGallery" class="venobox"
                  title="Introduction To Unity"><i class="bx bx-show"></i></a>
                <a href="https://www.udemy.com/certificate/UC-9X0DXZXA/"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
          <div class="portfolio-wrap">
            <img src="{% static 'img/BBG.png' %}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Unity Game Development</h4>
              <p>Build A Basketball Game</p>
              <div class="portfolio-links">
                <a href="{% static 'img/BBG.png' %}" data-gall="portfolioGallery" class="venobox"
                  title="Unity Game Development"><i class="bx bx-show"></i></a>
                <a href="https://www.udemy.com/certificate/UC-MYSZC64W/"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
          <div class="portfolio-wrap">
            <img src="{% static 'img/SS.png' %}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Unity Game Development</h4>
              <p>Build A Shooting Game</p>
              <div class="portfolio-links">
                <a href="{% static 'img/SS.png' %}" data-gall="portfolioGallery" class="venobox"
                  title="Build A Shooting Game"><i class="bx bx-show"></i></a>
                <a href="https://www.udemy.com/certificate/UC-MCJUQTXI/"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
          <div class="portfolio-wrap">
            <img src="{% static 'img/C2.png' %}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Construct 2</h4>
              <p>Game Development</p>
              <div class="portfolio-links">
                <a href="{% static 'img/C2.png' %}" data-gall="portfolioGallery" class="venobox"
                  title="Construct 2 - Game Development"><i class="bx bx-show"></i></a>
                <a href="https://www.udemy.com/certificate/UC-J8RRG8ZF/"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
          <div class="portfolio-wrap">
            <img src="{% static 'img/AU.png' %}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Application Development</h4>
              <p>Develop Non-Gaming App with Unity</p>
              <div class="portfolio-links">
                <a href="{% static 'img/AU.png' %}" data-gall="portfolioGallery" class="venobox"
                  title="Application Development"><i class="bx bx-show"></i></a>
                <a href="https://www.udemy.com/certificate/UC-8YIJDFJN/"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
          <div class="portfolio-wrap">
            <img src="{% static 'img/JS.png' %}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>JavaScript</h4>
              <p>Basics of JavaScript</p>
              <div class="portfolio-links">
                <a href="{% static 'img/JS.png' %}" data-gall="portfolioGallery" class="venobox" title="JavaScript"><i
                    class="bx bx-show"></i></a>
                <a href="https://www.udemy.com/certificate/UC-686SIEKS/"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
          <div class="portfolio-wrap">
            <img src="{% static 'img/AD.png' %}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Android Studio</h4>
              <p>Android App Development</p>
              <div class="portfolio-links">
                <a href="{% static 'img/AD.png' %}" data-gall="portfolioGallery" class="venobox"
                  title="Android Development"><i class="bx bx-show"></i></a>
                <a href="https://www.udemy.com/certificate/UC-3E2E2G2U/"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
          <div class="portfolio-wrap">
            <img src="{% static 'img/CD.jpg' %}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>3D Game Development</h4>
              <p>Build A 3D Card Game</p>
              <div class="portfolio-links">
                <a href="{% static 'img/CD.jpg' %}" data-gall="portfolioGallery" class="venobox"
                  title="3D Game Development"><i class="bx bx-show"></i></a>
                <a href="https://www.udemy.com/certificate/UC-0LSNF9HG/"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-card">
          <div class="portfolio-wrap">
            <img src="{% static 'img/CSH.png' %}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>C# Programming</h4>
              <p>Csharp</p>
              <div class="portfolio-links">
                <a href="{% static 'img/CSH.png' %}" data-gall="portfolioGallery" class="venobox"
                  title="C# Programming"><i class="bx bx-show"></i></a>
                <a href="https://www.sololearn.com/Profile/10753966/csharp"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-card">
          <div class="portfolio-wrap">
            <img src="{% static 'img/JA.png' %}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>JAVA Programming</h4>
              <p>Java</p>
              <div class="portfolio-links">
                <a href="{% static 'img/JA.png' %}" data-gall="portfolioGallery" class="venobox"
                  title="Java Programming"><i class="bx bx-show"></i></a>
                <a href="https://www.sololearn.com/Profile/10753966/java"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-card">
          <div class="portfolio-wrap">
            <img src="{% static 'img/SQL.png' %}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>SQL</h4>
              <p>SQL Course</p>
              <div class="portfolio-links">
                <a href="{% static 'img/SQL.png' %}" data-gall="portfolioGallery" class="venobox" title="SQL"><i
                    class="bx bx-show"></i></a>
                <a href="https://www.sololearn.com/Profile/10753966/sql"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 portfolio-item filter-card">
          <div class="portfolio-wrap">
            <img src="{% static 'img/htm.png' %}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>HTML5</h4>
              <p>HTML Course</p>
              <div class="portfolio-links">
                <a href="{% static 'img/htm.png' %}" data-gall="portfolioGallery" class="venobox" title="HTML"><i
                    class="bx bx-show"></i></a>
                <a href="https://www.sololearn.com/Profile/10753966/html"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Portfolio Section -->

  <section id="portfolio" class="portfolio section-bg">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Other</h2>
      </div>

      <center>
        <p>
          I also own a <a href="https://www.youtube.com/channel/UCHc8grk1qQ_LjEODq0clKqA"> YouTube Channel </a> where
          I
          upload
          programming tutorials.
          And not <b>only</b> this,
          I also have a <a href="https://www.developergautam07.ga"> Website</a> &amp <a
            href="https://www.instagram.com/developergautam">Instagram Page</a> which <br> has Currenlty
          More than <b>1.5K</b> of followers.
        </p>

      </center>
      <br>
      <br>

      <h5 align="center">Below are some Videos of My Channel.</h5>
      <br>

      <div class="container">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/aaDBsGIPG4M?rel=0"
            allowfullscreen></iframe>
        </div>
        <p>This is a video in which I have shown how to make an instagram bot using python</p>
      </div>

      </p>

    </div>
  </section>
  {%endblock body%}