{% extends "base.html" %}
{% load static %}

{% block homeactive %}active{% endblock homeactive %}
<link rel="stylesheet" href="/static/css/style.css">
{% block title %} Home {% endblock title %}
<meta name="google-site-verification" content="S6LeDXCnl2VBaPSL7WLLg8NuY_pehM5UV0hIkKqTp3A" />
{% block body %}
<div class="container-fluid px-0">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <!-- <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li> -->
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{% static 'img/slider3.png' %}" class="d-block w-100" alt="slider3">
            </div>
        </div>
    </div>
</div>

<div class="jumbotron text-center">
    <div class="container">
        <!-- img width and hieght will be 120 if border not used -->
        <section id="hero" class="d-flex flex-column justify-content-center">

            <div class="container" data-aos="zoom-in" data-aos-delay="100">
                <center><img src="/static/img/logo.jpg" alt="logo"
                        style="width:200px;height:200px;border-radius: 50%;border-width: 10px;border-style: solid;border-color:orange;">
                </center>
                <br>

                <h1>Gautam Sharma</h1>
                <br>
                <p>I'm <span class="typed" data-typed-items="Developer, Creator, Programmer"></span></p>
                <br>
                <div class="social-links">
                    <a href="https://www.instagram.com/developergautam/" class="instagram"><i
                            class="bx bxl-instagram"></i></a>
                    <a href="https://twitter.com/developergautam/" class="twitter"><i class="bx bxl-twitter"></i></a>
                    <a href="https://www.facebook.com/developergautam/" class="facebook"><i
                            class="bx bxl-facebook"></i></a>
                    <a href="https://www.youtube.com/channel/UCHc8grk1qQ_LjEODq0clKqA" class="youtube"><i
                            class="bx bxl-youtube"></i></a>
                    <a href="https://www.linkedin.com/in/developergautam/" class="linkedin"><i
                            class="bx bxl-linkedin"></i></a>
                </div>
                <br>
                <p class="lead">Check The <a href="/about">About</a> Page To Know More About Me</p>
            </div>
        </section><!-- End Hero -->
    </div>
</div>
<!-- ======= Hero Section ======= -->

<!-- <main id="main"> -->
    <!-- ===== Cards Section ===== -->
    <section>
        <div class="row" style="margin-left:40px;">
            <!-- Free Video Tuts -->
            <div class="col-md-4">
                <div class="card" style="width: 18rem;  margin-top: 40px;">
                    <img src="{% static 'img/tuts.jpg' %}" class="card-img-top" alt="Tutorials" height="171.59"
                        width="500">
                    <div class="card-body">
                        <h5 class="card-title">Free Video Tutorials</h5>
                        <p class="card-text">Start learning programming with these free video tutorials.
                            Source code is available with the project videos for your better experience.</p><br>
                        <a href="https://www.youtube.com/channel/UCHc8grk1qQ_LjEODq0clKqA/videos"
                            class="btn btn-primary">Browse Now</a>
                    </div>
                </div>
            </div> <!-- End FVT -->

            <!-- Programming Articles -->
            <div class="col-md-4">
                <div class="card" style="width: 18rem;  margin-top: 40px;">
                    <img src="{% static 'img/article.jpg' %}" class="card-img-top" alt="Article" height="171.59"
                        width="500">
                    <div class="card-body">
                        <h5 class="card-title">Programming Articles</h5>
                        <p class="card-text">Get to know about the latest news of Developer Gautam Community & Tips on
                            Programming & Development. <br><br></p><br>
                        <a href="https://www.developergautam07.ga/" class="btn btn-primary">Visit Our Blog</a>
                    </div>
                </div>
            </div> <!-- End PA -->

            <!-- Contact -->
            <div class="col-md-4">
                <div class="card" style="width: 18rem;  margin-top: 40px;">
                    <img src="{% static 'img/contact.jpg' %}" class="card-img-top" alt="contact" height="171.59"
                        width="500">
                    <div class="card-body">
                        <h5 class="card-title">Contact Me</h5>
                        <p class="card-text">You can contact me for any queries/doubts, and I will get back to you!
                            <br><br><br>
                        </p><br>
                        <a href="/contact" class="btn btn-primary">Contact Me</a>
                    </div>
                </div>
            </div>
            <!-- End Contact -->

        </div>
    </section>
        <br>
        <br>
        <br>
        <br>

        <!-- <script src="/static/js/main.js"></script> -->
        {%endblock body%}